body {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
}

.image {
    width: auto;
    height: auto;
    max-width: 700px;
    max-height: 700px;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 24px;
    justify-self: flex-end;
    padding-right: 24px;
}

.container {
    padding-top: 140px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.header,
.container {
    background-color: #1F2937;
}

.content {
    max-width: 400px;

}

.title {
    font-size: 48px;
    font-weight: 800;
}