body {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    font-family: Roboto, sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}



.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: flex-start;
    height: 1000px;
    gap: 80px;
    padding: 50px 100px;
}


.image {
    border-radius: 50px;  
    max-width: 800px;
    width: 100%;
}

.image-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;

    align-self: center;
}

.logo {
    font-size: 32px;
    color: #F9FAF8;
    font-weight: 1000;
}

.header {
    display: flex;
    height: 1000px;
    gap: 300px;
    flex-direction: column;
}

.header-links {
    display: flex;
    align-self: flex-end;
    gap: 48px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 1000px;
    gap: 100px;
    
}

.content {
    display: flex;
    flex-flow: column nowrap;
    max-width: 600px;

}

.title {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;

}

.header-links,
.subtext, 
.button
{
    font-size: 18px;
    color: #E5E7EB;
}

.subtext {
    margin-top: 30px;
    max-width: 500px;
}

.button {
    margin-top: 30px;
    width: 150px;
    background-color: #3882F6;
    padding: 14px 20px;
    border-radius: 14px;
    font-weight: 700;
}

.information {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-content: center;
    align-self: center;
    
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.card {

    background-color: #1f2937c5;
    border-radius: 15px 50px;
    box-shadow: 5px 10px #09090a;
  
    padding: 20px;
    max-width: 500px;
    max-height: 400px;
    min-width: 500px;
    min-height: 400px;
}

.card-image {
    border: auto;
    border-radius: 24px;
}

.card-text {
    
    color: #F9FAF8;;
    font-weight: 700;
    font-size: 24px;
    margin: 40px;
}

.information-title {
    font-size: 52px;
    font-weight: 800;
    color: #1F2937;

    margin: 120px

}

.quote-section {
    margin-top: 200px;
    padding: 500px 300px;

    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    gap: 24px;
}

.quote {
    font-size: 52px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
}

.quote-credit {
    font-weight: 700;
    align-self: flex-end;
    font-size: 24px;
}

.signup-area {
    display: flex;
    flex: 1;
    padding: 100px 0px;
    justify-content: center;

    color: white;
}

.product-signup {
    display: flex;
    padding: 50px 100px;
    border-radius: 22px;
    background-color: #3882F6;

    gap: 40px;
}

.sign-button{
    width: 150px;
    background-color: #3882F6;
    padding: 14px 20px;
    border-radius: 14px;
    font-weight: 700;

    border: medium solid white;
    color: white;

}

.footer {
    display: flex;
    color: white;
    background-color: #1f2937;
    justify-content: center;
    
}

.copyright {
    margin: 52px;
    align-self: center;
    
}

.image-footer {
    text-align: center;
    color: gray;
}