body {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    font-family: Roboto, sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
}

.hero {
    display: flex;
}


.image {
    width: auto;
    height: auto;
    max-width: 900px;
    max-height: 900px;
}

.logo {
    font-size: 32px;
    color: #F9FAF8;
    font-weight: 1000;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly  ;
    padding-left: 400px;
    justify-content: flex-start;
    padding-top: 20px;
}

.header-links {
    display: flex;
    gap: 24px;
    margin-bottom: 140px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-start;
    align-items: flex-end;
    padding-bottom: 250px;
    padding-right: 400px;
}

.header,
.container {
    background-color: #1F2937;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    max-width: 600px;
    padding-top: 300px;

}

.title {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;

}

.header-links,
.subtext, 
.button
{
    font-size: 18px;
    color: #E5E7EB;
}

.subtext {
    margin-top: 30px;
    max-width: 500px;
}

.button {
    margin-top: 30px;
    width: 150px;
    background-color: #3882F6;
    padding: 14px 20px;
    border-radius: 14px;
}